@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 10%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 10%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 9%;
    --chart-1: 0 0% 20%;
    --chart-2: 0 0% 33.3333%;
    --chart-3: 0 0% 46.6667%;
    --chart-4: 0 0% 60%;
    --chart-5: 0 0% 73.3333%;
    --sidebar: 0 0% 94.1176%;
    --sidebar-foreground: 0 0% 22.7451%;
    --sidebar-primary: 0 0% 37.6471%;
    --sidebar-primary-foreground: 0 0% 94.1176%;
    --sidebar-accent: 47.4419 64.1791% 86.8627%;
    --sidebar-accent-foreground: 14.2105 25.6757% 29.0196%;
    --sidebar-border: 0 0% 75.2941%;
    --sidebar-ring: 0 0% 62.7451%;
    --radius: 0.625rem;
    --shadow-2xs: 1px 4px 5px 0px hsl(0 0% 0% / 0.01);
    --shadow-xs: 1px 4px 5px 0px hsl(0 0% 0% / 0.01);
    --shadow-sm: 1px 4px 5px 0px hsl(0 0% 0% / 0.03), 1px 1px 2px -1px hsl(0 0% 0% / 0.03);
    --shadow: 1px 4px 5px 0px hsl(0 0% 0% / 0.03), 1px 1px 2px -1px hsl(0 0% 0% / 0.03);
    --shadow-md: 1px 4px 5px 0px hsl(0 0% 0% / 0.03), 1px 2px 4px -1px hsl(0 0% 0% / 0.03);
    --shadow-lg: 1px 4px 5px 0px hsl(0 0% 0% / 0.03), 1px 4px 6px -1px hsl(0 0% 0% / 0.03);
    --shadow-xl: 1px 4px 5px 0px hsl(0 0% 0% / 0.03), 1px 8px 10px -1px hsl(0 0% 0% / 0.03);
    --shadow-2xl: 1px 4px 5px 0px hsl(0 0% 0% / 0.07);
    --tracking-normal: 0.5px;
  }

  .dark {
    --background: 0 0% 9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 98%;
    --chart-1: 0 0% 93.7255%;
    --chart-2: 0 0% 81.5686%;
    --chart-3: 0 0% 69.0196%;
    --chart-4: 0 0% 56.4706%;
    --chart-5: 0 0% 43.9216%;
    --sidebar: 0 0% 12.9412%;
    --sidebar-foreground: 0 0% 86.2745%;
    --sidebar-primary: 0 0% 69.0196%;
    --sidebar-primary-foreground: 0 0% 12.9412%;
    --sidebar-accent: 0 0% 87.8431%;
    --sidebar-accent-foreground: 0 0% 20%;
    --sidebar-border: 0 0% 30.9804%;
    --sidebar-ring: 0 0% 75.2941%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
    letter-spacing: var(--tracking-normal);
  }
  .prose ul>li::marker {
    font-size: inherit;
    color: inherit;
  }
  .prose ol>li::marker {
    font-size: inherit;
    color: inherit;
  }
  .dark .prose ul>li::marker {
    color: inherit;
  }
  .dark .prose ol>li::marker {
    color: inherit;
  }
}

@layer utilities {
  .ck.ck-powered-by {
    display: none !important;
  }
}
