@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 0%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 0%;
    --primary: 206 100% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 85 96% 87%;
    --secondary-foreground: 0 0% 0%;
    --muted: 0 0% 95.5%;
    --muted-foreground: 0 0% 32.1%;
    --accent: 256 86% 65%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 0% 0%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 0%;
    --input: 0 0% 0%;
    --ring: 206 100% 50%;
    --chart-1: 206 100% 50%;
    --chart-2: 85 96% 87%;
    --chart-3: 256 86% 65%;
    --chart-4: 136 80% 75%;
    --chart-5: 334 94% 69%;
    --radius: 0px;
    --shadow-sm: 4px 4px 0px 0px hsl(0 0% 0% / 1.00);
    --shadow: 4px 4px 0px 0px hsl(0 0% 0% / 1.00);
    --shadow-md: 4px 4px 0px 0px hsl(0 0% 0% / 1.00);
    --shadow-lg: 4px 4px 0px 0px hsl(0 0% 0% / 1.00);
    --shadow-xl: 8px 8px 0px 0px hsl(0 0% 0% / 1.00);
  }
  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;
    --card: 0 0% 32.1%;
    --card-foreground: 0 0% 100%;
    --popover: 0 0% 32.1%;
    --popover-foreground: 0 0% 100%;
    --primary: 42 100% 64%;
    --primary-foreground: 0 0% 0%;
    --secondary: 85 96% 87%;
    --secondary-foreground: 0 0% 0%;
    --muted: 0 0% 21.8%;
    --muted-foreground: 0 0% 84.5%;
    --accent: 256 86% 65%;
    --accent-foreground: 0 0% 0%;
    --destructive: 0 0% 100%;
    --destructive-foreground: 0 0% 0%;
    --border: 0 0% 100%;
    --input: 0 0% 100%;
    --ring: 42 100% 64%;
    --chart-1: 42 100% 64%;
    --chart-2: 85 96% 87%;
    --chart-3: 256 86% 65%;
    --chart-4: 136 80% 75%;
    --chart-5: 334 94% 69%;
    --radius: 0px;
    --shadow-sm: 4px 4px 0px 0px hsl(0 0% 100% / 1.00);
    --shadow: 4px 4px 0px 0px hsl(0 0% 100% / 1.00);
    --shadow-md: 4px 4px 0px 0px hsl(0 0% 100% / 1.00);
    --shadow-lg: 4px 4px 0px 0px hsl(0 0% 100% / 1.00);
    --shadow-xl: 8px 8px 0px 0px hsl(0 0% 100% / 1.00);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground text-base leading-relaxed;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
